#header{
    margin-top: 70px;
    background-color: #d3d3d3;
    width: 90%;
    margin-left: 5%;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 50px;
    height: 550px;
    margin-bottom: 20px;
    color: white;
    text-align: center;
}